header {
    padding: 13px 40px 30px 40px;
    display: flex;
}

.hamburgerBox{
    display: inline-block;
    position: relative;
    width: 55px;
}

.hamburgerInner{
    position: absolute;
    width:  55px;
    height: 1px;
    background-color: #ffffff;
    transition-property: transform;
    margin-top: calc(1px / -2);
    /*transition-duration: var(--burguer-duration);*/
    /*transition-timing-function: var(--burguer-easing);*/
}

.hamburgerInner::before, .hamburgerInner::after {
    content: "";
    display: block;
}

.hamburgerInner:before {
    top: calc((8px + 1px) * -1);
}

.hamburgerInner::after {
    bottom: calc((8px + 1px) * -1);
}