#main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#flatsList {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    width: 1517px;
    margin-top: 16px;
}



#params_panel_container {
    box-shadow: 0 4px 12px 0 #00263026;
    display: flex;
    justify-content: center;
    width: 100%;
}

#params_panel {
    width: 1517px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding: 12px 0;
}

#params_panel button {
    height: 40px;
    padding: 8px 12px;
    cursor: pointer;
    position: relative;
    font-size: 14px;
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    display: flex;
    align-items: center;
    gap: 4px;
    background-color: rgb(242, 247, 251);
    box-shadow: rgb(206, 219, 227) 0px 0px 0px 1px inset;
    border-radius: 100px;
    border-width: 0;
    color: rgb(0, 38, 48);
}

.params_panel_strelka_icon_container {
    display: flex;
    align-items: center;
}

.params_panel_strelka_icon_container svg {
    width: 16px;
    height: 16px;
}